html,
body,
#root {
  padding:0;
  margin: 0;
  width:100%;
  height:100%;
  overflow: hidden;
  font-family: "B612 mono-regular", monospace;
}

@font-face {
  font-family: "B612 mono regular";
  src: url(../public/B612_Mono/B612Mono-Regular.ttf)(format(ttf));
}
@font-face {
  font-family: "B612 mono bold";
  src: url(../public/B612_Mono/B612Mono-Bold.ttf)(format(ttf));
}
@font-face {
  font-family: "B612 mono italic";
  src: url(../public/B612_Mono/B612Mono-Italic.ttf)(format(ttf));
}
@font-face {
  font-family: "B612 mono bold italic";
  src: url(../public/B612_Mono/B612Mono-BoldItalic.ttf)(format(ttf));
}