.ac__container{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  color: var(--color-white);
  width: calc(100% - 10%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5%;
}

.ac__container>div {
  max-width: 800px;
}

.ac__title {
  position: relative;
  left: -1000px;
}


.Hamburger{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5vw;
  right: 5vw;
}
.Hamburger div {
  position: relative;
  width: 24px;
  height: 2px;
  background: #252525;
  margin-bottom: 6px;
}
