
 @keyframes fade {
  from { opacity: 1; }
  to { opacity: 0; }
}

.FadeIn{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: #ffd863;
  animation: fade 4s normal forwards ease-in-out;
}

.Container{
  font-size: 16px;
}
.Container h1 {
  padding: 0;
  margin: 0 0 0.05em 0;
  font-weight: 400;
  font-size: min(14vw, 12em);
  line-height: 0.85em;
}

.TopLeft{
  position: absolute;
  top: 5vw;
  left: 5vw;
}

.BottomLeft{
  position: absolute;
  bottom: 5vw;
  left: 5vw;
  width: 30ch;
  max-width: 40%;
}

.BottomRight{
  position: absolute;
  bottom: 5vw;
  right: 5vw;
  width: 35ch;
  max-width: 40%;
  line-height: 1em;
  letter-spacing: -0.01em;
  text-align: right;
}

.Hamburger{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5vw;
  right: 5vw;
}
.Hamburger div {
  position: relative;
  width: 24px;
  height: 2px;
  background: #252525;
  margin-bottom: 6px;
}

.LeftMiddle{
  position: absolute;
  bottom: 50%;
  right: 5vw;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.01em;
  font-size: 12px;
  transform: rotate(90deg) translate3d(50%, 0, 0);
  transform-origin: 100% 50%;
}
